name: CI-CD

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  ci:
    name: CI - Build & Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "8"
          cache: maven

      - name: Tests
        run: mvn -B clean test

      - name: Package (Jar)
        run: mvn -B -DskipTests package

      - name: Upload Jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar

    cd:
    name: CD - Docker Build & Push
    if: github.ref == 'refs/heads/main'
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "8"
          cache: maven

      - name: Build Jar
        run: mvn -B -DskipTests clean package

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/spring-cicd-demo:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/spring-cicd-demo:${{ github.sha }}
